/*
	Author: Team
*/
/* General page and background */
body{
	margin-left:10%;
	margin-right:10%;
	background-image: url(paw.jpg);
	font-family: Helvetica, Roboto, sans_serif;
	border: 10px solid white;
}

/* Sections */
.nav{
	background-color: #0394fc;
	padding: 10px;
}
.content{
	background-color: #92d0fc;
	padding: 10px;
}
.foot{
	background-color: #0394fc;
	padding: 5px;
	font-size: 10pt;
	text-align: center;
	clear: both;
}

/* Tag specific */
a{
	color: #ad3c17;
	text-decoration: none;
}
h1{
	text-align: center;
}
